
@{
    ViewData["Title"] = "Index";
}

<title>Index</title>

<body>
    <p>@ViewBag.Greeting  @ViewBag.UserName Nasılsın ?</p>
    <p>Kursa hosgeldın.</p>
    <p>
        <a asp-action="Apply" asp-controller="Course">Başvuru Yap</a>
    </p>
</body>