@model IEnumerable<Category>

<br />
<h3>Invoke Menu Kategoriler</h3>
<div>
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a href="/">@category.CategoryName</a>
            </li>
        }
    </ul>
</div>